*,
*::before,
*::after {
    margin: 0;
    padding: 0;
}

:root {
	--color-dark-blue: hsl(233, 47%, 7%);
	--color-blue: hsl(244, 38%, 16%);
	--color-violet-1: hsl(277, 64%, 61%);
    --color-violet-2: hsl(228, 45%, 44%);
    --color-white: hsl(0, 0%, 100%);
    --color-transparent-white-1: hsla(0, 0%, 100%, 0.75);
    --color-transparent-white-2: hsla(0, 0%, 100%, 0.6);
}


body {
    background-color: var(--color-dark-blue);
    font-size: 15px;
    font-family: Lexend Deca, sans-serif;
    color: var(--color-white);
}

.card {
    margin: 10rem auto 0;
    text-align: center;
    width: min(80%, 900px);
    background-color: var(--color-blue);
    border-radius: 0.5rem;
}

.card__image {
    background-color: var(--color-violet-1);
    border-top-left-radius: 0.5rem;
    border-top-right-radius: 0.5rem;
}

.card__image img {
    display: block;
    max-width: 100%;
    opacity: 0.3;
    border-top-left-radius: 0.5rem;
    border-top-right-radius: 0.5rem;
}

.card__body {
    padding: 0 1rem;
}

.card__body h1 {
    padding-top: 2rem;
}

.card__body p {
    padding-top: 2rem;
    color: var(--color-transparent-white-1);
}

.stats {
    padding: 2rem 0;
}

.stats__single {
    padding: 0.5rem 0;
}

.stats__heading {
    color: var(--color-transparent-white-2);
    text-transform: uppercase;
}


.attribution {
	font-size: 11px;
	text-align: center;
}

a {
	color: var(--color-violet-1);
    text-decoration: none;
}


@media (min-width: 768px) {
    .card {
        display: flex;
        flex-direction: row-reverse;
    }

    .stats {
        display: flex;
        justify-content: space-between;
    }

    .card__body {
        margin: 0 2em;
        text-align: start;
    }

    .card__image, .card__image img {
        border-top-left-radius: 0rem;
        border-bottom-right-radius: 0.5rem;
    }

    .card__image img {
        width:100%;
        height:100%;
        object-fit: cover;
    }
}